name: Micro-UI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Build the Docker image
      run: docker build -t acr5aks.azurecr.io/todo-ui/frontend:v1 .
      
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Login to ACR
      run: az acr login --name acr5aks
      
    - name: Push to ACR
      run: docker push acr5aks.azurecr.io/todo-ui/frontend:v1
